POSTGRES_DSN=postgresql://postgres:YOUR_POSTGRES_PASSWORD@127.0.0.1:5432/stock_app
STOCK_NAME_MAPPING_FILE=e:\data_process\data_collection\stock_name_mapping.py
STOCK_MARKET_CAP_MAPPING_FILE=e:\data_process\data_collection\stock_market_cap_mapping.py
KAFKA_BOOTSTRAP_SERVERS=172.29.34.31:9092,172.29.34.32:9092,172.29.34.33:9092
KAFKA_STOCK_TIME_SHARING_TOPIC=stock-time-sharing-topic
KAFKA_EVENT_TOPIC=event
KAFKA_GROUP_ID=stock-visualization-stock-time-sharing
KAFKA_AUTO_OFFSET_RESET=latest
ENABLE_KAFKA_CONSUMER=true
AUTO_BOOTSTRAP_CONCEPTS=true
